<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 1.5rem 3rem 1.3rem 3rem;
    font-size: 1rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class='fa-regular fa-compass'></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" id="countrySearchForm">
  <select class="form-control me-2 search-inp" id="countrySelect">
    <option value="">All countries</option>
  </select>

  <button class="btn search-btn" type="button" id="searchBtn">
    <i class="fa-solid fa-magnifying-glass"></i>Search
  </button>
</form>

      </div>


      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  // This code runs when the user clicks the dropdown
  async function loadCountries() {    //function to fetch the country list
    const res = await fetch('/countries'); //here store it in the variable and '/countries' will call your backend route we created 
    const countries = await res.json();    //Converts it into a js array

    const select = document.getElementById('countrySelect');  //This is my select tag i created above for 'all countries' and doc refers to the whole webpage
    countries.forEach(country => {
      const option = document.createElement('option');
      option.value = country;
      option.textContent = country;
      select.appendChild(option);   //value is the child where option will be inserted to the select
    });
  }

  loadCountries();

  // This code runs when the user clicks the search button
  document.getElementById('searchBtn').onclick = function () {  //finds the id by name 'searchbtn' and runs the func whenever the user clicks it
    const country = document.getElementById('countrySelect').value;  //This gets the value from your dropdown

    if (country === "") {
      window.location = '/listings';  //windows.location this tells the browser go to this url similarly like the req.redirect in node
    } else {
      window.location.href = `/listings/country/${encodeURIComponent(country)}`;  //encodedURIComponent, This makes the URL safe, especially if the country contains spaces. Ex: United States → becomes → United%20States
    }
  };
</script>
