<% layout("/layouts/boilerplate") %>     <!--This line is used to link or take the HTML from this file and plug it into boiler.ejs-->
<div class="container">
    <div class="row mt-3">
      <div class="col-8 offset-2">
    <br /><br />
<h3>Create a New Listing</h3>
<form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">  <!--MongoDB can store only the raw data in a specific limit so to store files in our DB we are using this enctype to use the 3rd part db to store our data.-->
    
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
            name="listing[title]" 
            placeholder="Add a catchy title" 
            type="text" 
            class="form-control"
            required              
        />                         <!--Required here means that this field is mandatory to fillin.-->
        <div class="valid-feedback">Title looks good</div>   <!--Here valid-feedback is the bootstrap class.--> 
    </div>                                

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea 
            name="listing[description]" 
            placeholder="enter description"
            class="form-control"
            required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Upload listing image</label>
        <input 
            name="listing[image]" 
            type="file" 
            class="form-control"
        />
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input 
            name="listing[price]" 
            placeholder="1200"  
            class="form-control"
            required
        />
        <div class="invalid-feedback">Price should be valid</div>
    </div>
    
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input 
            name="listing[country]" 
            placeholder="India" 
            type="text" 
            class="form-control"
            required
        />
        <div class="invalid-feedback">Country name should be valid </div>
    </div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input 
            name="listing[location]" 
            placeholder="Bangalore, Mumbai" 
            type="text"
            class="form-control"
            required      
        />
        <div class="invalid-feedback">Location should be valid</div>
    </div>
    
    <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>

</form>
</div>
</div>